[Unit]
Description=neko virtual browser ({{ neko_identifier }})
{% for service in neko_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in neko_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop --time={{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ neko_identifier }} 2>/dev/null || true'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ neko_identifier }} 2>/dev/null || true'

ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
                --rm \
                --name={{ neko_identifier }} \
                --log-driver=none \
                --shm-size 2gb \
                -p {{ neko_epr }}:{{ neko_epr }}/udp \
                {% if neko_container_http_host_bind_port %}
                -p {{ neko_container_http_host_bind_port }}:{{ neko_container_http_port }} \
                {% endif %}
                --label-file={{ neko_base_path }}/labels \
                --network={{ neko_container_network }} \
                --tmpfs=/tmp:rw,noexec,nosuid,size=100m \
                --env-file={{ neko_base_path }}/env \
                {{ neko_container_image }}

{% for network in neko_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ neko_identifier }}
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ neko_identifier }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop --time={{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ neko_identifier }} 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ neko_identifier }} 2>/dev/null || true'

Restart=always
RestartSec=30
SyslogIdentifier={{ neko_identifier }}

[Install]
WantedBy=multi-user.target
